@import '../../scss/index.scss';

.layout-director {
    
    &__header {
        position: fixed;
        width: 100%;
        display: flex;
        padding: 0;
        height: 65px;
        background: $background-orange;
        z-index: 100;
    }

    &__sider {
        position: fixed;
        left: 0;
        top: 65px;
        height: 100vh;
        overflow: auto;
        background: $background-orange-light2;

        &__logo {
            text-align: center;
            padding-top: 20px;
            font-weight: 500;
    
            &:hover {
                font-weight: 650;
                cursor: pointer;
            }
        }
    }

    &__content {
        padding: 20px 40px;
    }

    &__footer{
        padding: 20px;
        text-align: center;
    }
}