@import '../../../scss/index.scss';

.professor-home {

    &__sec {

        &__content {
            border-radius: 10px;
        }

        &__title {
            font-size: 18px;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    &__stats {
        margin-top: 40px;
        text-align: right;
    }
}
