@import '../../../scss/index.scss';

.stats-settings {
    min-width: 400px;

    h1 {
        font-size: 20px;
    }
}

.stats-form {

    &__submit {
        margin-top: 20px;
        text-align: center;
    }
}
