@import '../../scss/index.scss';

.layout-professor{

    &__sider {
        position: fixed;
        left: 0;
        top: 65px;
        height: 100vh;
        overflow: auto;
        background: $background-orange-light2;

        &__logo {
            text-align: center;
            padding-top: 20px;
            font-weight: 500;
    
            &:hover {
                font-weight: 650;
                cursor: pointer;
            }
        }
    }
    
    &__header{
        position: fixed;
        // top: 0;
        // left: 0;
        width: 100%;
        display: flex;
        padding: 0;
        height: 65px;
        background-color: $background-purple;
        z-index: 100;
    }

    &__content{
        padding: 20px 30px;
    }

    &__footer{
        padding: 32px;
    }
}