@import '../../../scss/index.scss';

.professor-game {

    &__h1 {
        font-size: 24px;
        color: #555;
    }

    &__h2 {
        font-size: 16px;
        color: #666;
    }

    &__summ {
        display: flex;

        &__info {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            padding: 20px 0 0 20px;

            &__devs {
                font-style: italic;
            }

            &__det {
                display: grid;
                grid-template-columns: 1fr 1fr;
                // row-gap: 10px;
                margin-top: 30px;
            }
        }
    }

    &__desc {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        div {
            width: 60%;    
        }

        &__title {
            text-align: center;
            font-size: 24px;
        }

        &__text {
            font-size: 16px;
        }
    }

    &__add-course {
        margin-top: 40px;
    }
}