@import '../../../scss/index.scss'; 

.sider {
    min-height: 60vh;
    // height: min-content;
    margin-right: 20px;
    border-radius: 5px;
    background-color: $background-orange;

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        background-color: $background-orange-ligth;
        color: black;
        height: 32px;
        margin: 16px;
        border-radius: 10px;
        
        div {
            font-family: sans-serif;
        }

    }
}

.contenido {
    &__header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        background: $background-purple-light4;
        font-family: 'Secular one',sans-serif;
        margin-bottom: 15px;
        border-radius: 15px;

        &__col{
            //margin-top: 5px;
            font-size: 18px;
            text-align: center;
            h1{
                color: $font-grey;
            }
        }
    }

    &__content{
        //background: $background-purple-dark;
        border-radius: 0px;
    }
}

.container {
    // width: max-content;
    // height: max-content;
    // min-height: 300px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 200px;
    gap: 10px;

    &__stat-prom {
        // height: 800px;
        background-color: blue;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    &__stat-time {
        background-color: green;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    &__graphs {
        background-color: red;
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }
}