@import '../../../scss/index.scss'; 

.layout-home {

    &__sider {
        position: absolute;
        height: 100%;
        // margin-right: 20px;
        background-color: $background-orange-light2;

        .menu {
            margin-top: 20px;
            background-color: $background-orange-light2;

            &__sub {
                // padding: 10px;
                background-color: $background-orange;
                .param {
                    background-color: $background-orange-light;
                    .padding-left {
                        padding: 8px 0 8px 16px;

                    }
                    .padding {
                        padding: 8px;
                    }
                }
            }
        }

        .submit {
            margin-top: 20px;
            text-align: center;
            button {
                border-radius: 18px;
                border: $background-purple-dark;
                color: white;
                background: $background-purple;

            }
        }
    }

    &__layout {
        
        padding: 10px;

        &__content {

            .stats {

                &__chart {

                    &__btn {
                        right: 40px;
                        bottom: 34px;
                        position: absolute;
                        z-index: 10;
                        // transition: visibility 0s linear 0s, opacity 300ms;
                    }
                }
            }
        }
    }



}

.ant-layout-sider-trigger {
    background: $background-purple;
}
