@import '../../../../scss/index.scss';

.signup-prof-form {

    &__name {
        margin-bottom: 0;
    }

    &__gender {

        #custom-gender-input{
            width: 200px;
        }
    }

    &__end {
        // justify-content: center;

        &__reset {
            margin-top: 20px;
    
            button {
                border: none;
                background-color: #999;
                color: white;
                // pointer-events: none;

                &:hover {
                    background-color: #999;
                    color: white;
                    filter: brightness(110%);
                }

                &:focus {
                    background-color: #999;
                    color: white;
                }
            }
        }

        &__submit {
            margin-top: 20px;
    
            button {
                border: none;
                background-color: $background-purple;
                color: white;

                &:hover {
                    background-color: $background-purple;
                    color: white;
                    filter: brightness(110%);
                }
                
                &:focus {
                    background-color: $background-purple;
                    color: white;
                }
            }
            
        }
    }
}