@import '../../../scss/index.scss';

.admin-sider-menu {
    height: 100vh;
    color: white;
    background-color: $background-blue-dark;
    border: 0;

    &__item {
        span {
            color: #eee;
        }

        &:hover {
            background-color: $background-blue-dark2;
        }

        &.ant-menu-item-selected {
            background-color: $background-blue-dark3 !important;
        }
    }

    &__logout {
        
        &:hover {
            cursor: pointer;

            & > span {
                text-decoration: underline;
            }
        }

        span {
            color: red;
        }

        &.ant-menu-item-selected {
            background-color: $background-blue-dark !important;
        }
    }
}
