@import '../../../scss/index.scss';

.admin-sider {
    height: 100vh;
    overflow: auto;
    color: white;
    background-color: $background-blue-dark;

    &__logo {
        display: flex;
        height: 92px;
        font-weight: 500;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: white;
        }

        &:hover {
            cursor: pointer;
            & > h1 {
                // font-weight: 650;
                font-size: 17px;
            }
        }
    }

    &__menu {
        border: 0;
        background-color: inherit;
    }

    &__item {
        span {
            color: #eee;
        }

        &:hover {
            background-color: $background-blue-dark2;
        }
    }

    .ant-menu-item-selected {
        background-color: $background-blue-dark3 !important;
    }

}
