@import '../../../scss/index.scss';

.nav-bar {
    background-color: $background-purple-light;
    padding: 0px 20px;
    display: flex;
    // justify-content: space-around;

    &__back {
        background-color: transparent;
        border: none;
        color: white;

        &:hover {
            // background-color: darken($color: $background-purple-light, $amount: );
            background-color: $background-purple-light;
            filter: brightness(90%);
            color: white;
        }
    }

    &__drop-down {
        margin: 0 40px;
        // padding: 0 20px;
        height: 10%;
        // background-color: $background-purple-dark;
        font-size: 16px;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }

    
}

.games-filter {
    padding: 4px 20px 14px 20px;
}