@import '../../../scss/index.scss';

.professor-home {
    &__content {
        &__sec {

            &__content {
                border-radius: 10px;
                border: 1px #ddd solid;
                // padding: 0;
            }

            &__title {
                font-size: 18px;
                text-align: center;
                margin-bottom: 20px;
            }
            .grid-courses {
                
                &__el {
                    background-color: $background-orange;
                    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
                    border: none;
                    transition: background .2s;

                    &:hover {
                        background: $primary-color-hover;
                    }
                }
            }
            // padding: 10px 20px;
        }
    }
}

// .home-professor{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 50vh;
//     margin-top: 50px;

//     &__content{
//         width: 20em;
//         height: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-radius: 18px;
//         box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
//         background: $background-orange;
//         transition: all .2s;

//         &:hover{
//             background: $primary-color-hover;
//         }
//     }

// }