@import '../../../scss/index.scss';

.professor-games-filters {
    background-color: $background-purple-light2;
    padding: 0px 20px;
    display: flex;
    // justify-content: space-around;

    &__drop-down {
        margin: 0 40px;
        // padding: 0 20px;
        height: 10%;
        // background-color: $background-purple-dark;
        font-size: 16px;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }

    
}

.games-filter {
    padding: 4px 20px 14px 20px;
}