@import '../../../scss/index.scss';

.professor-courses {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    list-style-type: none;
    padding: 10px 20px;
    max-height: 300px;
    overflow: auto;
    text-align: left;

    &__el {
        flex-grow: 1;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: $background-orange-light;
        transition: background .2s;

        &:hover {
            background: $primary-color-hover;
            cursor: pointer;
        }
        
        &__name {
            height: 50px;
            padding: 10px 15px;

            h1 {
                font-size: 16px;
                color: #555;
            }
        }

        &__desc {
            height: 120px;
            padding: 5px 10px;
            background-color: white;

            b {
                color: #666;
            }

            p {
                font-size: 14px;
                color: #666;
                display: inline;
            }
        }
    }
}
