@import '../../../scss/index.scss';

.professor-game-modules {
    padding: 14px 10px 20px 10px;
    // border: 1px solid #ccc;
    border-radius: 10px;

    &__title {
        margin-left: 10px;
        font-size: 18px;
        color: #555;
    }

    &__content {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        overflow-x: auto;
        
        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            text-align: center;
        }
    }
}
