@import '../../../scss/index.scss';

.professor-list-games {
    padding: 0;
    overflow-y: scroll;
    max-height: 300px;

    &__el {
        padding: 20px 30px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: #e9e9e9;
        }
    }
}
