@import '../../scss/index.scss';

.layout-admin {
    transition: margin-left 0.2s;
    
    &__header {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 0;
        height: 65px;
        background: $background-orange;
        z-index: 100;
    }

    &__layout{
        
        
    }

    &__footer{
        padding: 20px;
        text-align: center;
    }
}