@import '../../scss/index.scss';

.layout-admin {
    text-align: center;

    &__sider {

        &__head {
            display: flex;

            &__back {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $background-blue-dark2;
                padding: 0 10px;

                span {
                    color: white;
                }

                &:hover {
                    font-size: 16px;
                }
            }

            &__logo {
                display: flex;
                font-weight: 500;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                height: 92px;
        
                h1 {
                    color: white;
                }
        
                &:hover {
                    cursor: pointer;
                    & > h1 {
                        // font-weight: 650;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    &__header {
        height: 140px;
        background-color: $background-purple-light2;
    }

    &__content {
        padding: 20px 40px;
    }
}

.ant-modal {
    width: min-content !important;
}
