@import '../../../scss/index.scss';

.director-sider-menu {
    margin-top: 20px;
    background-color: $background-orange-light2;

    &__item {
        span {
            color: black !important;
        }

        &:hover {
            background-color: $background-orange-light;
        }
    }

    .ant-menu-item-selected {
        background-color: $background-orange !important;
    }
}